*{
    
    
}

.wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(222,222,222,1);
}

.progressbar{
    height: 50px;
    width: 400px;
    position: relative;
    transform-style: preserve-3d;
    border:1px solid black;
    transform: rotateX(-20deg) rotateY(-40deg);
    
}

.side{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(254,254,254,0.3)
    
}

.side__bottom{
    transform: rotateX(90deg);
    box-shadow:10px 5px 50px 5px rgba(0,0,0,0.25);
    transform-origin: bottom;
    
}

.side__top{
    transform: rotateX(-90deg);
    transform-origin: top;
}

.side__back{
    transform: translateZ(-50px);
    
}

.side__left{
    width: 50px;
    transform: rotateY(90deg);
    transform-origin: left;
    background-color: rgba(0,139,139,.5);
}

.side__fill{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0,139,139,.5);
    transition:.6s all linear;
    
}

.progressbar_controller{
    display: inline-block;
    position: relative;
    top:-100px;
    left: 50px;
    font-size: 22px;
    font-family: sans-serif;
    color: white;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px ;
    background-color:rgba(0,139,139,.5);
    box-shadow: 1px -2px 0px 0px rgba(56,121,121,1),
                2px -2px 0px 0px rgba(56,121,121,1),
                3px -2px 0px 0px rgba(56,121,121,1);
    cursor: pointer;
                        
}

#zero:checked ~ div > .side__fill{
    width: 0;    
}

#twenty-five:checked ~ div > .side__fill{
    width: 25%;    
}

#fifty:checked ~ div > .side__fill{
    width: 50%;    
}

#seventy-five:checked ~ div > .side__fill{
    width: 75%;    
}

#one-hundred:checked ~ div > .side__fill{
    width: 100%;    
}

input{
    display: none;
    
}